/**************** intro ****************************/

*{margin: 0;
    padding: 0;}
    body{
        font-family: Quicksand;
        font-weight: 700;
    }
    .welcome-section{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background:url(images/wallpaper-intro.jpeg);
        overflow: hidden;
    }
    .content-wrap{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    .fly-in-text{
        list-style: none;
    }
    
    .fly-in-text li{
        display: inline-block;
        margin-right: 20px;
        font-size: 5em;
        color: #fff;
        opacity: 1;
        transition: all 3s ease;
    }
    .fly-in-text li:nth-child(5){
        margin-right: 0;
    }
    
    .enter-button{
        display: block;
        text-align: center;
        font-size: 2em;
        text-decoration: none;
        color: #adff2f;
        opacity: 1;
        margin-top: 30px;
        transition: all 1s ease 3s;
    }
    .content-hidden .fly-in-text li{opacity: 0;}
    .content-hidden .fly-in-text li:nth-child(1){transform: translate3d(-80px, 0, 0);}
    .content-hidden .fly-in-text li:nth-child(2){transform: translate3d(-60px, 0, 0);}
    .content-hidden .fly-in-text li:nth-child(3){transform: translate3d(-40px, 0, 0);}
    .content-hidden .fly-in-text li:nth-child(4){transform: translate3d(-20px, 0, 0);}
    .content-hidden .fly-in-text li:nth-child(5){transform: translate3d( 0px, 0, 0);}
    .content-hidden .fly-in-text li:nth-child(6){transform: translate3d( 20px, 0, 0);}
    .content-hidden .fly-in-text li:nth-child(7){transform: translate3d( 40px, 0, 0);}
    .content-hidden .fly-in-text li:nth-child(8){transform: translate3d( 60px, 0, 0);}
    .content-hidden .fly-in-text li:nth-child(9){transform: translate3d( 80px, 0, 0);}
    .content-hidden  .enter-button {opacity: 0; transform: translate3d(0, -30px, 0)}

    
/********** barre de navigation ***************************/
#nav,#navc{width: 100%;
	display: flex;
align-items: center;
justify-content: space-evenly;}
#nav>li>a{color: white;
		font-size: 1.5em;}
#navc>li>a{font-size: 1.5em;}
#nav1{color: white;
	font-size: 1.5em;}
#nav1c{font-size: 1.5em;}
/*  Accueil */
#accueil{background: url(images/androidpit-computer-developer-1.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;}
#footer{border-top: 2px solid black;}
#footer>p{width: 100%;
    text-align: center;}
.wh{color: #fff}

/************************* accueil ****************************************/
#str,#str1,#str2 {
  width: 80%;
  padding: 20px;
  height: auto;
  font-family: sans-serif;
  font-size: 40px;
  margin: 200px auto;
  color: gold;
  text-shadow: 1px 1px 2px black;
  font-weight: bold;
  position: fixed;
     bottom: 225px;
}
/************ compétences *********************************/

/* barre de progression */

.main_title_container{display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content:flex-end;
    border: 5px solid black;
    border-radius: 10px;}
.skills
{
	width: 100%;
}
.skills_text
{
	width: 100%;
}
.skills_text .container-fluid
{
	padding-left: 0;
	padding-right: 0;
}
.pb_col
{
	margin-bottom: 19px;
}
.progress_bars .container-fluid
{
	padding-left: 0;
	padding-right: 0;
}
.pb_item
{
	width: 100%;
}
.skill_bars
{
	width: 100%;
	height: 4px;
}
.skill_bars svg
{
	position: absolute;
	top: 0;
	left: 0;
}
.p_bar_title
{
	font-size: 13px;
	color: #100f3a;
	font-weight: 500;
	line-height: 0.75;
	margin-bottom: 17px;
}
.progressbar-text
{
	font-size: 13px;
	color: #100f3a;
	font-weight: 500;
	top: -33px !important;
}

.progress1{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress1:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.progress1 > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress1 .progress-left{
    left: 0;
}
.progress1 .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress1 .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    transform-origin: center left;
}
.progress1 .progress-right{
    right: 0;
}
.progress1 .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress1 .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress1.blue .progress-bar{
    border-color: #049dff;
}
.progress1.blue .progress-left .progress-bar{
    animation: loading-3 1.5s linear forwards 1.8s;
}
.progress1.yellow .progress-bar{
    border-color:#008000 ;
}
.progress1.yellow .progress-left .progress-bar{
    animation: loading-2 1s linear forwards 1.8s;
}
.progress1.red .progress-bar{
    border-color: #FF0000;
}
.progress1.red .progress-left .progress-bar{
    animation: loading-1 1s linear forwards 1.8s;
}

/* progression circulaire*/

@keyframes loading-1{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
@media only screen and (max-width: 990px){
    .progress1{ margin-bottom: 20px; }
}
.progress-bar {
	transition-duration: 3s;
  }

/* 
image parallax 
**********************/
.paral {
    min-height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
	}
.paralsec {
	background-image: url("images/wallpaper-parallax1.jpg");
	}

/************ hobby  *********************************************************/
#hobby{background: url(images/Designer-Wallpaper-Background-12.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;}

#upper{text-align: center;}

.theme{color:gold;
    text-align: center;}

.space30{height: 30px;}
.space90{height: 90px;}

/* animation icon*/
.item{
    animation-duration: 0.5s;
    animation-delay: 1s;
   animation-iteration-count: 3  /* ou infinite*/
}
@keyframes pulse {
    from {
      transform: scale3d(1, 1, 1);
    }
    50% {
      transform: scale3d(1.5, 1.5, 1.5);
    }
    to {
      transform: scale3d(1, 1, 1);
    }
  }

  .pulse {
    animation-name: pulse;
  }
  .item2{
    animation-duration: 2s;
    animation-delay: 1s;
   animation-iteration-count: 2  /* ou infinite*/
}
  @keyframes flipOutX {
    from {
      transform: perspective(400px);
    }
  
    30% {
      transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
      opacity: 1;
    }
  
    to {
      transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
      opacity: 0;
    }
  }
  
  .flipOutX {
    animation-duration: 0.75s;
    animation-name: flipOutX;
    backface-visibility: visible !important;
  }

  .item3{
    animation-duration: 2s;
    animation-delay: 1s;
   animation-iteration-count: 1  /* ou infinite*/
}

  @keyframes zoomOutDown {
    40% {
      opacity: 1;
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  
    to {
      opacity: 0;
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
      transform-origin: center bottom;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
  }
  .zoomOutDown {
    animation-name: zoomOutDown;
  }
  @keyframes jackInTheBox {
    from {
      opacity: 0;
      transform: scale(0.1) rotate(30deg);
      transform-origin: center bottom;
    }
  
    50% {
      transform: rotate(-10deg);
    }
  
    70% {
      transform: rotate(3deg);
    }
  
    to {
      opacity: 1;;
      transform: scale(1);
    }
  }
  
  .jackInTheBox {
    animation-name: jackInTheBox;
  }


   @keyframes lightSpeedIn {
    from {
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }
    60% {
      transform: skewX(20deg);
      opacity: 1;
    }
    80% {
      transform: skewX(-5deg);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out;
  }

  

/******* portfolio ***********************/
.paral1 {
    min-height: 400px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
	}
.paralsec1 {
	background-image: url("images/portal_developmen.jpg");
	}

/******** Contact ***********************/
#contact{background: url(images/368828.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;}
.type1{text-decoration: underline;}

#cfooter{display: flex;
		justify-content: space-evenly;}

.ct1{text-align: center;
	background-color: rgb(0,0,0, 0.7);
	border-radius: 10px;
	color: rgb(30,144,255) }
.ct2{width: 100%;
	text-align: center;
	background-color: rgb(0,0,0, 0.7);
	border-radius: 10px;
    color: rgb(30,144,255)}

.item6{
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
@keyframes mouve {
        from {
          transform: translateX(0px);
        }
        100% {
          transform: translateX(500px);
        }
      }
    
      .mouve {
        animation-name: mouve;}



@media screen and (max-width: 960px) {
    /* Intro */
    .fly-in-text li{
        display: inline-block;
        margin-right: 0px;
        font-size: 1.8em;
        color: #fff;
        opacity: 1;
        transition: all 3s ease;}
    /* Accueil */
    .typewrite {
    font-size: 50px;
    color:goldenrod; 
    text-decoration: none;
    position: fixed;
    top: 450px; 
    text-shadow: 10px 10px 2px black}
    #accueil{background: url(images/androidpit-computer-developer-1.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
  }
    /* Compétences */
    
    
     /* Hobby */
    .theme>i{font-size: 40px;}
    .inter{height: 30px;}
    /* Contact */
    .item6{animation-duration: 1s;
    animation-fill-mode: forwards;}
    @keyframes mouve {
    from {transform: translateX(0px);}
    100% {transform: translateX(0px);}}
    .mouve {animation-name: mouve;}
    }
/************pour mobile ******/

@media screen and (max-width: 640px) {
  #str {
    font-family: sans-serif;
    font-size: 27px;
    color: gold;
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    position: fixed;
    top: 75px; 
  }
  /* .typewrite {
        font-size: 50px;
     color:goldenrod; 
     text-decoration: none;
     position: fixed;
    
    text-shadow: 10px 10px 2px black} */
    .fly-in-text li{
        display: inline-block;
        margin-right: 0px;
        font-size: 1.7em;
        color: #fff;
        opacity: 1;
        transition: all 3s ease;
    }
     #accueil{background: url(images/bckg.png);
        background-repeat: no-repeat;
        background-position: fixed;}
    .theme>i{font-size: 40px;}
    .inter{height: 30px;}
    .item6{
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    #cfooter{display: flex;
      justify-content: space-evenly;}
@keyframes mouve {
        from {
          transform: translateX(0px);
        }
        100% {
          transform: translateX(0px);
        }
      }
    
      .mouve {
        animation-name: mouve;
      }
      }
     